@model CapaEntidades.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del producto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>
</div>
<div  class="col-md-offset" style="margin-left:8rem;">
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary"> Editar</a> |
    <a href="@Url.Action("Index")" class="btn btn-success"> Volver</a>
</div>
