@model CapaEntidades.FacturacionViewModel


@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    var total = 0;
    var productos = [];
    $(document).ready(function () {
        $("#addproduct").click(function () {
            addProduct();
        })

        $("#addFactura").click(function () {
            addFactura();
        })
    });

    function addProduct() {
        var productRecords = "<tr><td>" + $("#idProducto  option:selected").text() + "</td><td>" + $("#cantidad").val() + "</td></tr>";
        var precio = $("#producto_" + $("#idProducto").val()).val()
        var cantidad = $("#cantidad").val()
        productos.push({
            Id: $("#idProducto").val(),
            Cantidad: cantidad
        })
        total += parseInt(precio) * parseInt(cantidad);
        $("#tableProductRecords").last().append(productRecords);
        $("#total").val(total);
        $("#cantidad").val("");
    }

    function addFactura() {
        if ($("#fecha").val() != "" && productos.length > 0) {
            $.ajax({
                type: "POST",
                url: "/Facturacion/create",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ Fecha: $("#fecha").val(), IdCliente: $("#idCliente").val(), Total: total, productos: productos }),
                success: function (datos) {

                },
                error: function (datos) {
                    if (datos.status == 200) {
                        window.location.href = "/Facturacion/Index";
                        console.log(datos);
                    } else {
                        console.log(datos);
                        alert("Debe agregar productos y la fecha para facturar");
                    }

                },
                dataType: "JSON"
            })
        } else {
            alert("Debe agregar productos y la fecha para facturar");
        }
    }
</script>
<h2>Agregar Factura</h2>

@using (Html.BeginForm())
{
<div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdCliente, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4" style="margin-bottom:10px;">
            @Html.DropDownList("IdCliente", new SelectList(ViewBag.clientes, "Id", "Nombre"), htmlAttributes: new { @id = "idCliente", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2"> Fecha</label>
        <div class=" col-md-4" style="margin-bottom:10px;">
            <input type="date" id="fecha" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IdCliente, "Producto", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4" style="margin-bottom:10px;">
            @Html.DropDownList("IdProducto", new SelectList(ViewBag.productos, "Id", "Nombre"), htmlAttributes: new { @id = "idProducto", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-1"> Cantidad</label>
        <div class=" col-md-3" style="margin-bottom:10px;">
            <input type="text" id="cantidad" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2" style="margin-bottom:10px;">
            <input id="addproduct" value="Agregar Producto" class="btn btn-success" />
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-md-2"> Total</label>
        <div class=" col-md-4" style="margin-bottom:10px;">
            <input type="text" id="total" value="" class="form-control" disabled />
        </div>
    </div>

</div>


    foreach (var product in ViewBag.productos)
    {
        <input type="hidden" id="producto_@product.Id" value="@product.Precio" />
    }
}

<div style="margin-top:20rem">
    <table class="table table-bordered" style="width:100%" id="tableProductRecords">
        <thead>
            <tr>
                <th>
                    Producto
                </th>
                <th>
                    Cantidad
                </th>
            </tr>
        </thead>

    </table>
</div>


<div class="form-group">
    <div class="col-md-12" style="margin-bottom:10px;">
        <input id="addFactura" value="Facturar" class="btn btn-danger pull-right" />
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
