@model IEnumerable<CapaEntidades.DetalleFactura>

@{
    ViewBag.Title = "Details";
}

<h2>Detalle de la factura</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdFacturacion)
        </th>
        <th>
            Producto
        </th>
        <th>
            Precio
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdFacturacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.producto.Nombre)
    </td>
    <td>
        RD$@String.Format("{0:0.00}", item.producto.Precio)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cantidad)
    </td>
</tr>
}

</table>
