@model IEnumerable<CapaEntidades.DetalleFactura>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdFacturacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdFacturacion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.producto.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cantidad)
    </td>
</tr>
}

</table>
