@model IEnumerable<CapaEntidades.Facturacion>

@{
    ViewBag.Title = "Facturas";
}

<h2>Lista de Facturas</h2>

<p>
    @Html.ActionLink("Agregar Factura", "Create")
</p>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="col-md-2 ">
            @Html.Label("Filtrar por Fecha", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-3">
            <input name="filtroFecha" type="date" class="form-control">
        </div>
        <div class="col-md-2 ">
            @Html.Label("Filtrar por Cliente", htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-md-3">
            @Html.DropDownList("filtroCliente", new SelectList(ViewBag.clientes, "Id", "Nombre"), "Seleccionar", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <input type="submit" value="Buscar" class="btn btn-danger col-md-12" />
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente.Nombre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.ActionLink("Detalles", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
